.btn {
	display: inline-block;
	font-weight: bold;
	line-height: 1.55;
	letter-spacing: 1.5px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 4px transparentize($grey, 0.5);
	text-transform: capitalize;
	padding: 0.5em 1.25em 0.65em;
	margin-top: 0.5em;
	background-color: $white;
	border-radius: 3px;
	transition: 0.2s ease-in-out;
	&.small {
		padding: 0.4em 0.75em;
	}
	&:hover, &:focus, &:active {
		color: $white;
		text-shadow: 0 0 3px transparentize( $grey, 0.75 );
		text-decoration: none;
		outline: none;
	}
	&--yellow {
		color: $yellow;
		border: 2px solid $yellow;
		&:hover, &:focus {
			background-color: $yellow !important;
			text-shadow: 0 0 4px transparentize($grey, 0.5);
		}
	}
	&--teal-dark {
		color: $teal-dark;
		border: 2px solid $teal-dark;
		&:hover, &:focus {
			background-color: $teal-dark !important;
		}
	}
	&--orange {
		color: $orange;
		border: 2px solid $orange;
		&:hover, &:focus {
			background-color: $orange !important;
		}
	}
}
