.wpcf7-form-control, .custom_registration_form__field input {
    width: 100%;
    padding: 0.35em 0.5em;
    border: 1px solid $grey;
    margin-bottom: 1em;
    transition: .3s;
    .wpcf7.wpcf7-submit, .custom_registration_form__button {
      display: block;
      width: 12ch;
      margin: 0 auto;
      text-transform: uppercase;
      color: $white;
      border: none;
      font-size: 1.15em;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 0.5em;
      &:hover, &:focus {
        border: 0;
        border-color: none;
      }
      @media screen and ( max-width: $small ) {
        width: 100%;
      }
    }
    &:focus {
      outline: none;
    }
  }
