.cta__container.cta--donate {
  display: flex;
  position: relative;
  width: 100%;
  padding: 5rem 0;
  justify-content: center;
  align-items: center;
  background-color: transparentize( $yellow, 0.65 );
  overflow: hidden;
  &::before {
    content: 'Building Stronger Communities';
    display: block;
    position: absolute;
    top: -14%;
    left: -2%;
    font-size: 5rem;
    color: transparentize( $yellow, 0.45 );
    z-index: -1;
    @media screen and ( max-width: 1240px ) {
      top: -8%;
      left: -1%;
      font-size: 4rem;
    }
    @media screen and ( max-width: $medium ) {
      display: none;
    }
  }
  &::after {
    content: 'Building Stronger Families';
    display: block;
    position: absolute;
    top: 12%;
    left: 16%;
    font-size: 5.5rem;
    color: transparentize( $yellow, 0.8 );
    z-index: -1;
    @media screen and ( max-width: 1240px ) {
      top: 12%;
      left: 11%;
      font-size: 4.25rem;
    }
    @media screen and ( max-width: $medium ) {
      display: none;
    }
  }
}
.cta--donate .btn {
  background-color: $white;
  box-shadow: 4px 5px 0 #ebc31d;
  font-size: 1.65rem;
  padding: 0.85em 2em;
  &:hover, &:focus {
    background-color: inherit;
  }
}
