footer {
	width: 100%;
	padding: 2rem;
	margin-top: 5rem;
	@media screen and ( min-width: $medium + 1 ) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 3rem;
		.col-sm-12 {
			float: none;
		}
	}
}

.footer {
	&__brand {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		.footer__logo {
			max-width: 300px;
		}
		@media screen and ( max-width: $medium ) {
			margin-bottom: 2rem;
			.footer__logo {
				margin: 0 auto;
			}
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		.menu {
			max-width: 500px;
			justify-content: center;
			flex-flow: row wrap;
		}
		li {
			a {
				font-size: 0.85rem;
				padding: 1em 1.25em;
			}
		}
		@media screen and ( max-width: $medium ) {
			margin-bottom: 2rem;
		}
	}

	&__contact-link {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
