header {
  display: flex;
	width: 100%;
	height: 100px;
	z-index: 10;
	@media screen and (max-width: $medium) {
		height: 80px;
    justify-content: space-between;
	}
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  @media screen and ( max-width: $medium ) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 8rem;
  }
}
.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  .sub-menu {
    display: none;
  }
  > li {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: $primary;
      display: inline-block;
      font-weight: 500;
      letter-spacing: 1px;
      &:hover, &:focus, &:active {
        color: $orange;
        text-decoration: none;
      }
    }
  }
}
.nav--desktop {
  .menu {
    height: 100%;
    .sub-menu {
      position: absolute;
      display: block;
      opacity: 0;
      visibility: hidden;
    }
    > li {
      position: relative;
      height: 100%;
      &:not( :last-of-type ) {
        margin-right: 0.5em;
      }
      &:last-of-type {
        background-color: $teal-dark;
        a {
          color: $blue-xlight;
          &::after {
            background-color: $yellow-dark;
          }
          &:hover {
            color: $white;
          }
        }
      }
      a {
        padding: 0.85em 1em;
        &::after {
          position: absolute;
          transition: 0.2s;
          content: '';
          width: 0;
          left: auto;
          right: 0;
          bottom: 0;
          height: 3px;
          background-color: $orange;
        }
        &:hover, &:focus, &:active {
          color: $orange;
          text-decoration: none;
        }
        &:hover::after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

.nav {
  &__brand {
    display: flex;
    align-items: center;
    max-width: 400px;
    padding: 0.8em 1.25em;
    .nav__logo {
      width: 100%;
      height: auto;
    }
    @media screen and ( max-width: $medium ) {
      width: 65%;
      .nav__logo {
        width: 100%;
        height: auto;
      }
    }
    @media screen and ( max-width: $small ) {
      width: 75%;
    }
  } // nav__brand

  &--desktop {
    display: none;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    @media screen and ( min-width: $medium ) {
      display: flex;
    }
  } // nav--desktop

  &--mobile {
    @media screen and ( min-width: $medium ) {
      display: none;
    }
    display: block;
    position: fixed;
    top: 80px;
    width: 100vw;
    height: 0;
    background-color: $teal-dark;
    background-image: linear-gradient( 210deg, $teal-dark 0%, darken($teal-dark, 5% ) 100% );
    // NOTE: Wanted to do a transparent background image that faded in when the nav
    // dropped down but didn't have time.
    //
    // background-image: url( '../../img/LogoMark-one-color.png' );
    // background-repeat: no-repeat;
    // background-position: 110% -10%;
    // background-size: 50vw;
    // background-blend-mode: multiply;
    overflow-y: scroll;
    transition: all 0.25s ease-out;
    z-index: 10;
    ul {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      padding: 3em;
      li a {
        color: $blue-xlight;
        font-size: 1.25rem;
        padding: 1.5em;
      }
    }
    &.active {
      height: calc( 100vh - 80px );
    }
  } // nav--mobile

  &__button {
    @media screen and ( min-width: $medium ) {
      display: none;
    }
    width: 4rem;
    height: 100%;
    display: block;
    position: relative;
    cursor: pointer;
    margin-right: 1rem;
    div {
      display: block;
      position: absolute;
      right: 0;
      height: 3px;
      max-width: 3rem;
      background-color: $primary;
      transition: top 0.15s, bottom 0.15s, right 0.2s, height 0.1s, color 0.1s, transform 0.2s, width 0.1s;
      &:nth-of-type(1) {
        top: 33%;
        width: 2.5rem;
      }
      &:nth-of-type(2) {
        top: 50%;
        transform: translateY( -50% );
        width: 2.85rem;
      }
      &:nth-of-type(3) {
        bottom: 33%;
        width: 2rem;
      }
    } // nav__button > div

    &:hover div {
      background-color: $teal-dark;
      height: 4px;
      &:nth-of-type(1) {
        top: 28%;
        width: 2.5rem;
      }
      &:nth-of-type(2) {
        top: 50%;
        right: 5px;
        transform: translateY( -50% );
        width: 2.85rem;
      }
      &:nth-of-type(3) {
        bottom: 28%;
        width: 2rem;
      }
    } // nav__button:hover > div

    &.active div {
      background-color: $orange;
      &:nth-of-type( 1 ) {
        top: 50%;
        width: 2rem;
        transform: translateY( -50% ) rotate( 45deg );
      }
      &:nth-of-type( 2 ) {
        width: 0;
      }
      &:nth-of-type( 3 ) {
        bottom: 50%;
        width: 2rem;
        transform: translateY( 50% ) rotate( -45deg );
      }
      &:hover div {
        background-color: darken( $orange, 10% );
      }
    }
  } // nav__button
} // nav
