.hero {
	display: flex;
	position: relative;
	width: 100%;
	min-height: 500px;
	padding: 2em 0;
	overflow: hidden;
	background-attachment: fixed;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	@media screen and ( max-width: $medium ) {
		font-size: 0.85rem;
		padding: 6em 1em;
		.container {
			flex-direction: column;
			justify-content: center;
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba( 0, 0, 0, 0.15 );
			z-index: 0;
		}
	}
  @media screen and ( max-width: $medium_sm ) {
  	min-height: 225px;
		font-size: 0.75rem;
  }
	.container {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: space-between;
	}
	&__content {
		z-index: 1;
	}
	&--left {
		// left: 0;
	}
	&--center {
		text-align: center;
	}
	&--right {
		// right: 0;
	}
	&__headline {
		// text-shadow: 0 0 5px rgba( 0, 0, 0, 0.5 );
	}
	&__subheadline {
		font-size: 1.5em;
		font-weight: 500;
		line-height: 1.5;
		text-shadow: 1px 0 5px rgba( 0, 0, 0, 0.75 );
		@media screen and ( max-width: $medium_sm ) {
			br {
				display: none;
			}
		}
	}
	.btn {
		z-index: 1;
	}
}

// NOTE:  Finding perfect images that work perfectly with the heading styles is not feasable in the
//  time constraint. I wouldn't usually use this exact combo with the shadow but alas.
.home .hero .hero__headline {
	text-shadow: 0 0 5px rgba( 0, 0, 0, 0.5 );
}
