.resources-and-post__wrapper {
  background-color: $grey-light;
  padding: 3rem 0;
  margin-top: 3rem;
  margin-bottom: 4rem;
  @media screen and ( max-width: $medium ) {
    padding: 4rem 0;
  }
}

.resources {
  @media screen and ( min-width: $medium + 1 ) {
    padding-right: 5rem;
  }
  @media screen and ( max-width: $medium ) {
    margin-bottom: 3rem;
  }
  &__heading {
    @media screen and ( max-width: $medium_sm ) {
      margin-bottom: 1em;
    }
  }
  &__link {
    $parent: &;
    display: block;
    position: relative;
    color: $teal;
    font-size: 1.5rem;
    padding: 0.5em 0;
    &:not( :last-of-type ) {
      border-bottom: 1px solid $grey;
    }
    &:visited {
      color: $teal;
    }
    &__arrow {
      position: absolute;
      transition: 0.3s;
      transition-delay: 0.05s;
      color: $teal;
      font-size: 1.15em;
      line-height: 1.25;
      visibility: hidden;
      opacity: 0;
      margin-left: 0.25em;
    }
    &::after {
      position: absolute;
      transition: 0.25s;
      transition-delay: 0.05s;
      content: '';
      width: 0;
      left: auto;
      right: 0;
      bottom: 0;
      height: 2px;
      background-color: $yellow;
    }
    &:hover {
      color: $teal-dark;
      text-decoration: none;
      #{$parent}__arrow {
        visibility: visible;
        opacity: 1;
        margin-left: 1em;
      }
      &::after {
        width: 100%;
        left: 0;
      }
    }
    @media screen and ( max-width: $medium_sm ) {
      font-size: 1.15rem;
    }
  }
}

.recent-post {
  &__heading {
    @media screen and ( max-width: $medium_sm ) {
      margin-bottom: 1.25em;
    }
  }
  &__featured-image {
    width: 100%;
    height: 10rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__date {
    display: block;
    margin-top: -40px;
    margin-bottom: .5em;
    color: $blue-xlight;
    background-color: $teal-dark;
    width: auto;
    max-width: 20ch;
    border-radius: 8px;
    padding: 0.5em 1em 1em;
    align-self: flex-end;
  }
  &__title a {
    color: $white;
    font-size: 1.2rem;
    font-weight: bold;
    &:hover {
      color: $blue-xlight;
      text-decoration: none;
    }
  }
  &__body {
    display: flex;
    flex-flow: column nowrap;
    background-color: $teal-dark;
    border-radius: 10px 10px 0 0;
    padding: 1em;
    margin-top: -10px;
    p {
      color: $white;
      a {
        color: $blue-xlight;
        &.more-link {
          display: block;
          color: $white;
          font-weight: bold;
          &:hover {
            color: $blue-xlight;
            text-decoration: none;
          }
        }
        &:hover {
          color: $yellow;
          text-decoration: none;
        }
      }
    }
  }
}
