.cta__container.cta--newsletter {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: $teal-dark;
  padding: 5rem 1rem 5.5rem;
  .cta__headings {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  .cta__headline {
    color: $white;
    text-shadow: 2.5px 4px 1px $primary;
  }
  .cta__subheadline {
    color: $blue-light;
    font-size: 1.5em;
    font-family: $futura;
    line-height: 1;
    letter-spacing: 1px;
    margin-top: 0;
  }
  .cta__form {
    .cta__input--email {
      width: auto;
      min-width: 32ch;
      max-width: 50ch;
      line-height: 1.55em;
      padding: calc( 0.5em + 3px ) 1.25em 0.65em;
      outline: none;
      border: none;
      border-radius: 3px;
      color: $primary;
      letter-spacing: 0.5px;
      font-weight: bold;
    }
    .btn {
      margin-top: 0;
      margin-left: 0.25em;
      @media screen and ( max-width: $medium_sm ) {
        margin: 1.5em auto 0 auto;
        width: 15ch;
      }
    }
    @media screen and ( max-width: $medium_sm ) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

}
