.stat-circle {
  $parent: &;
  &s__section {
    padding-bottom: 3rem;
  }
  &s__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    @media screen and ( max-width: $medium ) {
      flex-wrap: wrap;
    }
  }
  &__heading {
    text-align: center;
    margin-bottom: 2em;
  }
  &__bottom-text {
    color: $grey;
    font-size: 0.85rem;
    font-style: italic;
    text-align: center;
  }
  &__single {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 25%;
    align-items: center;
    justify-content: flex-start;
    @media screen and ( max-width: $medium ) {
      flex-basis: 50%;
    }
    @media screen and ( max-width: $small ) {
      flex-basis: 100%;
    }
  }
  &__number, &__number-symbol {
    color: $primary;
    font-size: 4.25em;
    font-family: $futura;
    font-weight: normal;
  }
  &__circle {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &--teal {
      background-color: transparentize( $teal, 0.65 );
      box-shadow: 0 10px 0 -4px $teal;
    }
    &--teal-dark {
      background-color: transparentize( $teal-dark, 0.5 );
      box-shadow: 10px 0 0 -4px $teal-dark;
    }
    &--blue-light {
      background-color: transparentize( $blue-light, 0.5 );
      box-shadow: 10px 10px 0 -4px $blue-light;
    }
    &--yellow {
      background-color: transparentize( $yellow, 0.65 );
      box-shadow: 10px -10px 0 -4px $yellow;
    }
    &--yellow-dark {
      background-color: transparentize( $yellow-dark, 0.5 );
      box-shadow: -10px 0 0 -4px $yellow-dark;
    }
    &--orange {
      background-color: transparentize( $orange, 0.65 );
      box-shadow: 0 -10px 0 -4px $orange;
    }
  }
  &__stat-text {
    color: $primary;
    font-weight: normal;
    text-align: center;
    padding: 1rem 1.25rem;
  }
}
