.three-col {
  $parent: &;
  &__container {
    padding: 5rem 1rem;
    .btn {
      margin-top: 2em;
    }
  }
  &__heading {
    @media screen and ( max-width: $medium_sm ) {
      margin-bottom: 1.65em;
    }
  }
  &__column {
    text-align: center;
    @media screen and ( max-width: $medium ) {
      margin-bottom: 4rem;
    }
    #{$parent}__heading {
      text-align: center;
      padding: 0.5em 1em 0.8em;
      border-radius: 5px;
      margin-bottom: -1.25em;
    }
  }
  &__image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 240px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
  &__body-text {
    padding: 2em;
    margin: 0;
    text-align: center;
  }
  &--first {
    #{$parent}__heading {
      background-color: $teal-dark;
    }
    #{$parent}__body-text {
      background-color: $teal-dark;
    }
  }
  &--second {
    #{$parent}__heading {
      background-color: $orange;
    }
    #{$parent}__body-text {
      background-color: $orange;
    }
  }
  &--third {
    #{$parent}__heading {
      background-color: $yellow;
    }
    #{$parent}__body-text {
      background-color: $yellow;
    }
  }
}
