.two-column {
  &__container {
    margin-top: 5rem;
    margin-bottom: 5.5rem;
  }
  &__col1, &__col2 {
    padding-left: 2rem;
    padding-right: 2rem;
    a {
      @media screen and ( max-width: $medium ) {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2em;
        text-align: center;
      }
    }
  }
  &__col1 {
    @media screen and ( min-width: $medium + 1 ) {
      &::after {
        background: $grey;
        width: 1px;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
      }
    }
    @media screen and ( max-width: $medium ) {
      margin-bottom: 3.25em;
    }
  }

  &__col2 {

  }
}
