@font-face {
    font-family: 'Lato';
    src: url('../font/subset-Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../font/subset-Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/subset-Lato-Regular.woff2') format('woff2'),
        url('../font/subset-Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/subset-Lato-BoldItalic.eot');
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
        url('../font/subset-Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/subset-Lato-BoldItalic.woff2') format('woff2'),
        url('../font/subset-Lato-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/subset-Lato-Italic.eot');
    src: local('Lato Italic'), local('Lato-Italic'),
        url('../font/subset-Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/subset-Lato-Italic.woff2') format('woff2'),
        url('../font/subset-Lato-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/subset-Lato-Bold.eot');
    src: local('Lato Bold'), local('Lato-Bold'),
        url('../font/subset-Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/subset-Lato-Bold.woff2') format('woff2'),
        url('../font/subset-Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Round';
    src: url('../font/subset-FuturaRound-Bold.eot');
    src: local('Futura Round Bold'), local('FuturaRound-Bold'),
        url('../font/subset-FuturaRound-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/subset-FuturaRound-Bold.woff2') format('woff2'),
        url('../font/subset-FuturaRound-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Round';
    src: url('../font/subset-FuturaRound-MediumOblique.eot');
    src: local('Futura Round Medium Oblique'), local('FuturaRound-MediumOblique'),
        url('../font/subset-FuturaRound-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('../font/subset-FuturaRound-MediumOblique.woff2') format('woff2'),
        url('../font/subset-FuturaRound-MediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura Round';
    src: url('../font/subset-FuturaRound-BoldOblique.eot');
    src: local('Futura Round Bold Oblique'), local('FuturaRound-BoldOblique'),
        url('../font/subset-FuturaRound-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../font/subset-FuturaRound-BoldOblique.woff2') format('woff2'),
        url('../font/subset-FuturaRound-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura Round';
    src: url('../font/subset-FuturaRound-Medium.eot');
    src: local('Futura Round Medium'), local('FuturaRound-Medium'),
        url('../font/subset-FuturaRound-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/subset-FuturaRound-Medium.woff2') format('woff2'),
        url('../font/subset-FuturaRound-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Round';
    src: url('../font/subset-FuturaRound-Oblique.eot');
    src: local('Futura Round Oblique'), local('FuturaRound-Oblique'),
        url('../font/subset-FuturaRound-Oblique.eot?#iefix') format('embedded-opentype'),
        url('../font/subset-FuturaRound-Oblique.woff2') format('woff2'),
        url('../font/subset-FuturaRound-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura Round';
    src: url('../font/subset-FuturaRound-Regular.eot');
    src: local('Futura Round Regular'), local('FuturaRound-Regular'),
        url('../font/subset-FuturaRound-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/subset-FuturaRound-Regular.woff2') format('woff2'),
        url('../font/subset-FuturaRound-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$lato: 'Lato', 'Helvetica', 'Arial', sans-serif;
$futura: 'Futura Round', 'Helvetica', 'Arial', sans-serif;

html, body {
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
}

* {
  transition-delay: none;
}
::selection {
	background-color: $blue-light;
	color: $white;
}

$sizing: 1rem;
h1, h2, h3, h4, h5, h6 {
  color: $primary;
  font-family: $futura;
	line-height: 1;
	margin-top: 0;
	margin-bottom: .5em;
}

h1 {
  font-size: $sizing * 3;
	letter-spacing: 3px;
	font-weight: bold;
	text-transform: uppercase;
  display: block;
}

h2 {
  font-size: $sizing * 2.25;
	letter-spacing: 3px;
	font-weight: bold;
  display: block;
}

h3 {
  font-size: $sizing * 1.875;
	letter-spacing: 1px;
  font-weight: bold;
  display: block;
}

h4 {
  font-size: $sizing * 1.5;
	letter-spacing: 1.5px;
	font-weight: bold;
  display: block;
}

h5 {
  color: $grey;
  font-size: $sizing * 1.25;
  font-weight: 500;
  font-style: normal;
	letter-spacing: 1.5px;
	text-transform: uppercase;
  display: block;
}

h6 {
  font-size: $sizing * .875;
	letter-spacing: .75px;
	font-style: italic;
  display: block;
}

@media(max-width: $medium) {
  $sizing: .85rem;
  h1 { font-size: $sizing * 3; }
  h2 { font-size: $sizing * 2.25; }
  h3 { font-size: $sizing * 1.875; }
  h4 { font-size: $sizing * 1.5; }
  h5 { font-size: $sizing * 1.25; }
  h6 { font-size: $sizing * 1.15; }
}
@media(max-width: $small) {
  $sizing: .7rem;
  h1 { font-size: $sizing * 3; }
  h2 { font-size: $sizing * 2.25; }
  h3 { font-size: $sizing * 1.875; }
  h4 { font-size: $sizing * 1.5; }
  h5 { font-size: $sizing * 1.25; }
  h6 { font-size: $sizing * 1.15; }
}

p {
	font-family: $lato;
  font-size: 1rem;
  line-height: 1.8;
  color: $black;
  letter-spacing: .5px;
  font-weight: normal;
}

a {
  font-family: $lato;
	color: $teal-dark;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
	&:active { color: $teal-dark; }
	&:visited:not( .btn ) { color: $orange; }
	&:hover { color: $teal-dark; }
}
