$colors: ('primary', $primary) ('secondary', $secondary) ('teal-dark', $teal-dark) ('blue-light', $blue-light) ('teal', $teal) ('orange', $orange) ('yellow', $yellow) ('yellow-dark', $yellow-dark) ('white', $white) ('black', $black) ('gray', $grey-light);

// Typography Utilities
.text-center { text-align: center; }
.text-upper { text-transform: uppercase; }
@each $color, $colorVar in $colors {
	.color-#{$color} {
		color: #{$colorVar};
	}
}

// Backgrounds
@each $color, $colorVar in $colors {
	.bg-#{$color} {
		background-color: #{$colorVar};
	}
}

// Layout Helpers
.col-centered {
	float: none !important;
	margin: 0 auto;
}

.video-player {
	position: relative;
	display: block;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 0;
	padding-bottom: 56.5%;
	background-size: cover;
	background-position: center;
	> div {
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	i {
		color: $white;
		border: 2px solid $white;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-left: 4px;
		transition: .4s;
	}
	&:hover {
		cursor: pointer;
		> div {
			background-color: rgba(0,0,0,.25);
		}
		i {
			background: $white;
			width: 50px;
			height: 50px;
			font-size: 1.5em;
		}
	}
}

img {
	width: 100%;
	height: auto;
}
