// Variables

// Breakpoints
$large: 1170px;
$medium: 992px;
$medium_sm: 768px;
$small: 480px;
$xsmall: 360px;

// Colors
$primary: #092735;
$secondary: #7f9cae;
$teal-dark: #136b7a;
$blue-light: #85bcda;
$blue-xlight: lighten( $blue-light, 12% );
$teal: #05a0ae;
$orange: #dd602d;
$yellow: #ebc31d;
$yellow-dark: #f5a22f;

$black: #222;
$white: #FFF;

$grey-light: #F0F0F0;
$grey: #C0C0C0;
